/*Alterações gerais
body{

}
*/



/*Alterações navbar*/
.navbar{
    width: 100%;
    position: relative;
    z-index: 1;
}

.navbar-item, .navbar-login{
    float: left;
}

.navbar-login{
    float: right;
}

.pagina {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top: 0;
    left:0;
    right:0;
    margin-top: 67px;
    margin-bottom: 49px;
}

/*Alterações titulo*/
.titulo{
    text-align: center;
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Alterações footer*/
.footer{
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
}

.avatar{
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

.avatar-container{
    border-radius: 50%;
    display: block;
    margin: 2% 40%;
}

.avatar-text{
    text-align: justify;
    text-justify: inter-word;
}