/*Alterações gerais*/
body{
    margin:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

/*Alterações na página*/
.pagina{
    background-color: #EFEFEF;
}

/*Alterações navbar*/
.navbar{
    list-style-type: none;
    overflow: hidden;
    box-shadow: 0px 6px 8px #cecece;
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    font-size: 150%;
    text-decoration: none;
    color: #a9a9a9;
}

.navbar-item, .navbar-login{
    color: white;
    text-decoration: none;
    display: block;
}

/*Alterações titulo*/
.titulo{
    font-size: 300%;
}

/*Alterações footer*/
.footer{
    width: 100%;
    text-align: center;
}

.footer-black{
    background-color: #d6d6d6;
    color: #a9a9a9;
    padding: 15px;
}

.footer-darkgray{
    background-color: #e2e2e2; 
    color: #a9a9a9;
}

.joao{
    text-decoration: none;
    font-weight: bold;
    color: #a9a9a9;
}